

.player.team-icon:before, span.team-icon
{
	width: 1.5em;
	display: inline-block;
	margin-right: 3px;
	content: "-";
	border: 1px solid white;
	text-align: center;
	font-weight: bold;
}

    .player.team-icon.FA:before, span.team-icon.FA {
        content: "";
        border: none
    }

	.player.team-icon.BC:before, span.team-icon.BC
	{
		content: "B";
		color: #231F20;
		background-color: #F05523;
		border-color: white;
	}

	.player.team-icon.CGY:before, span.team-icon.CGY
	{
		content: "C";
		color: black;
		background-color: #cc092f;
		border-color: white;
	}

	.player.team-icon.EDM:before, span.team-icon.EDM
	{
		content: "E";
		color: #F9B730;
		background-color: #004211;
		border-color: #F9B730;
	}

	.player.team-icon.HAM:before, span.team-icon.HAM
	{
		content: "H";
		color: black;
		background-color: #FFB514;
		border-color: white;
	}

	.player.team-icon.MTL:before, span.team-icon.MTL
	{
		content: "M";
		color: white;
		background-color: #003D79;
		border-color: #98012E;
	}

	.player.team-icon.OTT:before, span.team-icon.OTT
	{
		content: "O";
		color: #C4122F;
		background-color: black;
		border-color: #C4122F;
	}

	.player.team-icon.SSK:before, span.team-icon.SSK
	{
		content: "S";
		color: white;
		background-color: #006241;
		border-color: white;
	}

	.player.team-icon.TOR:before, span.team-icon.TOR
	{
		content: "T";
		color: #183661;
		background-color: #719FD3;
		border-color: white;
	}

	.player.team-icon.WPG:before, span.team-icon.WPG
	{
		content: "W";
		color: #B6985A;
		background-color: #032D5F;
		border-color: #B6985A;
	}
